.header {
    -unity-font-definition: url("project://database/Assets/Font/AstroSpace-0Wl3o.otf?fileID=12800000&guid=771f31b210173a84d99e438826cfaefb&type=3#AstroSpace-0Wl3o");
    font-size: 111px;
    -unity-text-align: upper-left;
    text-shadow: 0 0 8.8px rgb(43, 255, 0);
    letter-spacing: 58px;
    word-spacing: 0;
    -unity-paragraph-spacing: 0;
    transition-duration: 2s;
    transition-property: all;
    translate: 0 -105px;
}

.header-started {
    -unity-font-definition: url("project://database/Assets/Font/AstroSpace-0Wl3o.otf?fileID=12800000&guid=771f31b210173a84d99e438826cfaefb&type=3#AstroSpace-0Wl3o");
    font-size: 111px;
    -unity-text-align: upper-left;
    text-shadow: 0 0 8.8px rgb(43, 255, 0);
    letter-spacing: 0;
    word-spacing: 0;
    -unity-paragraph-spacing: 0;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 1s;
    translate: 0 0;
}
